<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Password</title>
</head>

<body style="margin: 0; padding: 0; background-color: white; font-family: sans-serif">
    <div style="padding: 1rem;">
        <img style="height: 2rem" src="cid:logo">
        <p>Open-source, modular and portable IPsec-based VPN solution</p>
    </div>
    <div style="padding: 0 1rem; border-bottom: 2px solid #d70f37;">
        <h1 style="margin-bottom: 1rem; color: #d70f37;">Create a Password</h1>
    </div>
    <div style="padding: 1rem;">
        <p>We have received a request to create a password for your VPN account associated with <span style="color: #d70f37;">{{ $.Form.Username }}</span>.</p>
        <p>The request came from the <span style="color: #d70f37;">{{ $.Form.IpAddress }}</span> IP address.</p>
        <p>If you made this request, you can create your password by clicking the link below:</p>
        <p><a href="https://{{ $.Form.ServerHost }}/self-service/create-password/done/?token={{ $.Form.Token }}">CREATE PASSWORD</a> for <a href="https://ipinfo.io/{{ $.Form.IpAddress }}">{{ $.Form.IpAddress }}</a></p>
        <p>The new password will be valid for <span style="color: #d70f37;">{{ $.Form.IpAddress }}</span> IP address <span style="color: #d70f37;">only</span>.</p>
        <p>If you <span style="color: #d70f37;">did not request that</span>, you don’t need to do anything but please <span style="color: #d70f37;">let your Information Security Officer know right away</span>, just to be safe.</p>
    </div>
    <div style="padding: 1rem 1rem 0 1rem; border-bottom: 2px solid #d70f37;">
        <h1 style="margin-bottom: 1rem; color: #d70f37;">Connect to VPN server</h1>
    </div>
    <div style="padding: 1rem;">
        <div style="margin-bottom: 2rem">
            <h2 style="margin-bottom: 1rem;">Windows</h2>
            <p style="margin-bottom: 1rem;">Run <code style="font-size: 1rem; font-weight: bold;">VPN-Windows-[{{ $.Form.ServerHost }}].ps1</code> from ZIP file file attachment.</p>
        </div>
        <div style="margin-bottom: 2rem">
            <h2 style="margin-bottom: 1rem;">Linux (AlmaLinux, RedHat, RockyLinux, Ubuntu)</h2>
            <p style="margin-bottom: 1rem;">Run <code style="font-size: 1rem; font-weight: bold;">VPN-Linux-[{{ $.Form.ServerHost }}].sh</code> from ZIP file file attachment.</p>
        </div>
        <div style="margin-bottom: 2rem">
            <h2 style="margin-bottom: 1rem">Mac OS</h2>
            <p style="margin-bottom: 1rem;">Unfortunately, you'll have to set up connection manually.</p>
            <ul>
                <li>Open <code style="font-size: 1rem; font-weight: bold;">System Settings</code> app</li>
                <li>Click on <code style="font-size: 1rem; font-weight: bold;">Network</code> in the left pane</li>
                <li>Click on <code style="font-size: 1rem; font-weight: bold;">...</code> drop down menu button</li>
                <li>Click on <code style="font-size: 1rem; font-weight: bold;">Add VPN Configuration</code></li>
                <li>Click on <code style="font-size: 1rem; font-weight: bold;">IKEv2...</code></li>
                <li>Enter VPN settings manually</li>
            </ul>
            <div style="background-color: #201A26; width: 32rem; padding: 1rem; border-bottom: 1px #4A444D solid;">
                <div style="margin-bottom: 1rem; border-style: solid; border-color: #4A444D; border-width: 1px; border-radius: 0.5rem;">
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; color: #FFFFFF; font-weight: bold; flex: auto;">Display Name</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.ServerHost }}</p>
                    </div>
                </div>
                <div style="margin-bottom: 1rem; border-style: solid; border-color: #4A444D; border-width: 1px; border-radius: 0.5rem;">
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; color: #FFFFFF; font-weight: bold; flex: auto;">Server&nbsp;address</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.ServerHost }}</p>
                    </div>
                    <div style="border-bottom: 1px #4A444D solid; margin: 0 1rem;"></div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; color: #FFFFFF; font-weight: bold; flex: auto;">Remote&nbsp;ID</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.ServerHost }}</p>
                    </div>
                    <div style="border-bottom: 1px #4A444D solid; margin: 0 1rem;"></div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; color: #FFFFFF; font-weight: bold; flex: auto;">Local&nbsp;ID</p>
                        <p style="margin: 0; color: #d70f37;"></p>
                    </div>
                </div>
                <div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; color: #FFFFFF; font-weight: bold; flex: auto;">Authentication</p>
                    </div>
                </div>
                <div style="border-style: solid; border-color: #4A444D; border-width: 1px; border-radius: 0.5rem;">
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; color: #FFFFFF; font-weight: bold; flex: auto;">User&nbsp;authentication</p>
                        <p style="margin: 0; color: #FFFFFF;">Username</p>
                        <div style="height: 1rem; padding: 0.1rem 0.3rem; margin-left: 0.4rem; background-color: #3A3640; border-radius: 0.25rem;">
                            <img style="height: 0.8rem;" src="cid:macos-updown">
                        </div>
                    </div>
                    <div style="border-bottom: 1px #4A444D solid; margin: 0 1rem;"></div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; color: #FFFFFF; font-weight: bold; flex: auto;">Username</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.Username }}</p>
                    </div>
                    <div style="border-bottom: 1px #4A444D solid; margin: 0 1rem;"></div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; color: #FFFFFF; font-weight: bold; flex: auto;">Password</p>
                        <p style="margin: 0; color: #d70f37;"></p>
                    </div>
                </div>
            </div>
            <div style="background-color: #201A26; width: 32rem; padding: 1rem;">
                 <div style="display: flex; flex-direction: row; justify-content: end;">
                    <p style="margin: 0.25rem; padding: 0.25rem 0.5rem; background-color: #58545C; color: #FFFFFF; font-weight: bold; border-radius: 0.5rem;">Cancel</p>
                    <p style="margin: 0.25rem; padding: 0.25rem 0.5rem; background-color: #58545C; color: #FFFFFF; font-weight: bold; border-radius: 0.5rem;">Create</p>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 2rem">
            <h2 style="margin-bottom: 1rem">iPhone</h2>
            <p style="margin-bottom: 1rem;">Unfortunately, you'll have to set up connection manually.</p>
            <ul>
                <li>Open <code style="font-size: 1rem; font-weight: bold;">Settings</code> app</li>
                <li>Click on <code style="font-size: 1rem; font-weight: bold;">General</code></li>
                <li>Click on <code style="font-size: 1rem; font-weight: bold;">VPN & Device Management</code></li>
                <li>Click on <code style="font-size: 1rem; font-weight: bold;">Add VPN Configuration...</code></li>
                <li>Enter VPN settings manually</li>
            </ul>
            <div style="background-color: black; border-radius: 1rem; width: 24rem; padding: 0.2rem;">
                <div style="padding: 0.5rem 1rem;">
                    <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 0.2rem 0;">
                        <p style="margin: 0; color: #ebebeb">09:17</p>
                        <img style="height: 1rem" src="cid:android-status">
                    </div>
                </div>
                <div style="background-color: #E2E1E6; margin: 0 1rem; border-top-left-radius: 0.8rem; border-top-right-radius: 0.8rem;">
                    <div style="height: 0.5rem;"></div>
                </div>
                <div style="background-color: #F2F1F6; padding: 0.5rem; border-top-left-radius: 0.8rem; border-top-right-radius: 0.8rem;">
                    <div style="margin-bottom: 1rem; padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-evenly;">
                        <p style="margin: 0; color: #007AFF;">Cancel</p>
                        <p style="margin: 0; flex: auto; text-align: center; font-weight: bold;">Add Configuration</p>
                        <p style="margin: 0; color: #007AFF; font-weight: bold;">Done</p>
                    </div>
                </div>
                <div style="background-color: #FFFFFF; border-style: solid; border-color: #E1E2E6; border-width: 1px 0;">
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; flex: auto;">Type</p>
                        <p style="margin: 0; color: #9A9A9A;">IKE v2 &gt;</p>
                    </div>
                </div>
                <div style="background-color: #F2F1F6; height: 2rem;">
                </div>
                <div style="background-color: #FFFFFF; border-style: solid; border-color: #E1E2E6; border-width: 1px 0;">
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; flex: auto;">Description</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.ServerHost }}</p>
                    </div>
                    <div style="border-bottom: 1px #E1E2E6 solid; margin: 0 1rem;"></div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; flex: auto;">Server</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.ServerHost }}</p>
                    </div>
                    <div style="border-bottom: 1px #E1E2E6 solid; margin: 0 1rem;"></div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; flex: auto;">Remote&nbsp;ID</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.ServerHost }}</p>
                    </div>
                    <div style="border-bottom: 1px #E1E2E6 solid; margin: 0 1rem;"></div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; flex: auto;">Local&nbsp;ID</p>
                        <p style="margin: 0; color: #d70f37;"></p>
                    </div>
                </div>
                <div style="background-color: #F2F1F6; height: 1rem;">
                </div>
                <div style="background-color: #F2F1F6;">
                    <p style="margin: 0; padding: 0.75rem 1rem; font-size: 0.75rem; color: #828186">AUTHENTICATION</p>
                </div>
                <div style="background-color: #FFFFFF; border-style: solid; border-color: #E1E2E6; border-width: 1px 0;">
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; flex: auto;">User Authentication</p>
                        <p style="margin: 0; color: #9A9A9A;">Username &gt;</p>
                    </div>
                    <div style="border-bottom: 1px #E1E2E6 solid; margin: 0 1rem;"></div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; flex: auto;">Username</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.Username }}</p>
                    </div>
                    <div style="border-bottom: 1px #E1E2E6 solid; margin: 0 1rem;"></div>
                    <div style="padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; flex: auto;">Password</p>
                        <p style="margin: 0; color: #d70f37;"></p>
                    </div>
                </div>
                <div style="background-color: #F2F1F6; padding: 0.5rem; border-bottom-left-radius: 0.8rem; border-bottom-right-radius: 0.8rem;">
                    <div style="height: 1rem;"></div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 2rem">
            <h2 style="margin-bottom: 1rem;">Android</h2>
            <p style="margin-bottom: 1rem;">Unfortunately, you'll have to set up connection manually.</p>
            <ul>
                <li>Open <code style="font-size: 1rem; font-weight: bold;">Settings</code> app</li>
                <li>Search for <code style="font-size: 1rem; font-weight: bold;">VPN</code></li>
                <li>Open <code style="font-size: 1rem; font-weight: bold;">VPN</code></li>
                <li>Click on <code style="font-size: 1rem; font-weight: bold;">+</code> icon</li>
                <li>Enter VPN settings manually</li>
            </ul>
            <div style="background-color: black; border-radius: 1rem; width: 24rem; padding: 0.2rem;">
                <div style="padding: 0 1rem;">
                    <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 0.2rem 0;">
                        <p style="margin: 0; color: #ebebeb">09:17</p>
                        <img style="height: 1rem" src="cid:android-status">
                    </div>
                </div>
                <div style="background-color: white; padding: 0.5rem; border-radius: 0.8rem;">
                    <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 1rem;">
                        <img style="height: 1rem" src="cid:android-cancel">
                        <img style="height: 1rem" src="cid:android-accept">
                    </div>
                    <p style="margin: 0 0 0 1rem; font-size: 1.5rem; color: #333333">Add VPN</p>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; border-radius: 0.5rem; background-color: #F5F5F5; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; font-weight: bold; flex: auto;">Name</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.ServerHost }}</p>
                    </div>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; font-weight: bold; flex: auto;">Type</p>
                        <p style="margin: 0; color: #9A9A9A;">IKEv2/IPSec MSCHAPv2</p>
                        <img style="height: 1rem; margin-left:0.4rem" src="cid:android-updown">
                    </div>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; border-radius: 0.5rem; background-color: #F5F5F5; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; font-weight: bold; flex: auto;">Server&nbsp;address</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.ServerHost }}</p>
                    </div>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; display: flex; flex-direction: row; justify-content: space-between; ">
                        <p style="margin: 0; font-weight: bold; flex: auto;">Show&nbsp;advanced&nbsp;options</p>
                        <img style="height: 1rem" src="cid:android-toggle">
                    </div>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; border-radius: 0.5rem; background-color: #F5F5F5; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; font-weight: bold; flex: auto;">DNS&nbsp;search&nbsp;domains</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.DnsSuffix }}</p>
                    </div>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; border-radius: 0.5rem; background-color: #F5F5F5; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; font-weight: bold; flex: auto;">DNS&nbsp;servers</p>
                        <p style="margin: 0; color: #d70f37;">{{ range $i, $dnsServer := $.Form.DnsServers }}{{ if $i }}, {{end}}{{ $dnsServer }}{{ end }}</p>
                    </div>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; border-radius: 0.5rem; background-color: #F5F5F5; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; font-weight: bold; flex: auto;">Forwarding&nbsp;routes</p>
                        <p style="margin: 0; color: #d70f37;">{{ range $i, $destinationPrefix := $.Form.DestinationPrefixes }}{{ if $i }}, {{end}}{{ $destinationPrefix }}{{ end }}</p>
                    </div>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; border-radius: 0.5rem; background-color: #F5F5F5; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; font-weight: bold; flex: auto;">Username</p>
                        <p style="margin: 0; color: #d70f37;">{{ $.Form.Username }}</p>
                    </div>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; border-radius: 0.5rem; background-color: #F5F5F5; display: flex; flex-direction: row; justify-content: space-between;">
                        <p style="margin: 0; flex: auto; font-weight: bold; padding: 0;">Password</p>
                        <img style="height: 1rem;" src="cid:android-eye">
                    </div>

                    <div style="margin-top: 1rem; padding: 0.75rem 1rem; border-radius: 0.5rem; display: flex; flex-direction: row; justify-content: space-evenly;">
                        <img style="height: 1rem;" src="cid:android-overview">
                        <img style="height: 1.2rem;" src="cid:android-home">
                        <img style="height: 1rem;" src="cid:android-back">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 1rem 1rem 0 1rem; border-bottom: 2px solid #d70f37;">
    </div>
    <div style="padding: 1rem;">
        <p>Thank you,<br>Information Security Team</p>
    </div>
</body>
</html>
